<span class="tooltipped" data-tooltip="{{label}}" data-position="left" data-delay="25">
    <i class="fa fa-fw fa-lg fa-{{fa-icon}}" aria-hidden="true"></i>
    <a href="{{url}}" target="_blank">{{text}}</a>
</span>
