<ul>
    <li>{{> card-link text='@lnhrdt' label='medium' fa-icon='medium' url='https://medium.com/@lnhrdt'}}</li>
    <li>{{> card-link text='@lnhrdt' label='github' fa-icon='github' url='https://github.com/lnhrdt'}}</li>
    <li>{{> card-link text='@lnhrdt' label='twitter' fa-icon='twitter' url='https://twitter.com/lnhrdt'}}</li>
    <li>{{> card-link text='@leonhardtkoepsell' label='instagram' fa-icon='instagram' url='https://www.instagram.com/leonhardtkoepsell/'}}</li>
    <li>{{> card-link text='leonhardtkoepsell' label='linkedin' fa-icon='linkedin' url='https://www.linkedin.com/in/leonhardtkoepsell'}}</li>
    <li>{{> card-link text='leonhardt@koepsell.io' label='email' fa-icon='envelope' url='mailto:leonhardt@koepsell.io'}}</li>
    <li>{{> card-link text='+18182136258' label='mobile' fa-icon='mobile' url='tel:+18182136258'}}</li>
</ul>
